<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<title>用户登录</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="http://cdn.bootcss.com/font-awesome/4.6.0/css/font-awesome.min.css" rel="stylesheet" />
	<link href="/css/login.css" rel="stylesheet" type="text/css" />
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>


<script>
	$(function(){
		$("#close").click(function(){
			if($("#password").attr("type")=="password"){
				$("#close").removeClass("glyphicon glyphicon-eye-close");
				$("#close").addClass("glyphicon glyphicon-eye-open");
				$("#password").attr("type","text");
			}
			else{

				$("#close").removeClass("glyphicon glyphicon-eye-open");
				$("#close").addClass("glyphicon glyphicon-eye-close");
				$("#password").attr("type","password");
			}
		})
	})
function checkInCorrect() {
         var isSave = document.getElementById('rememberMe').checked;   //保存按键是否选中
         if (isSave) {

             var username = document.getElementById('username').value;
             var password = document.getElementById('password').value;
             if (username != "" && password != "") {
                 SetCookie(username, password);
             }
          }
    }

    function SetCookie(username, password) {
      var Then = new Date();
      Then.setTime(Then.getTime() + 7*60*1000);
      document.cookie = "username=" + username + "%%" + password + ";expires=" + Then.toGMTString();
      }

    function GetCookie() {
        var nmpsd;
        var nm;
        var psd;
        var cookieString = new String(document.cookie);
        var cookieHeader = "username=";
        var beginPosition = cookieString.indexOf(cookieHeader);
        cookieString = cookieString.substring(beginPosition);
        var ends = cookieString.indexOf(";");
        if (ends != -1) {
            cookieString = cookieString.substring(0, ends);
        }
        if (beginPosition > -1) {
            nmpsd = cookieString.substring(cookieHeader.length);
            if (nmpsd != "") {
                beginPosition = nmpsd.indexOf("%%");
                nm = nmpsd.substring(0, beginPosition);
                psd = nmpsd.substring(beginPosition + 2);
                document.getElementById('username').value = nm;
                document.getElementById('password').value = psd;
                if (nm != "" && psd != "") {
                    document.getElementById('rememberme').checked = true;
                }
            }
        }
    }
</script>
</head>
<body>

	<div class="container"style="width: 400px;margin-top: 80px">
	    <div id="part">
		    <div class="panel panel-info">
			<div class="panel-body">
				<ul class="nav nav-tabs" id="myTab">
					<li class="active">
						<a data-toggle="tab" href="#home">
							账号密码登录
						</a>
					</li>


				</ul>
				<div class="tab-content" id="myTabContent">
					<br />
					<div class="tab-pane fade in active" id="home">
					    <form METHOD="post" action="loginCheck">
						<div class="lab"><label><i class="glyphicon glyphicon-user" title="用户名"></i><input class="text" id="username" name="username" placeholder="用户名" type="text" /></label></div>

						<div class="lab"><label><i class="glyphicon glyphicon-lock" title="密码"></i><input class="text" id="password" name="password" placeholder="密码" type="password" /><a class="glyphicon glyphicon-eye-close" id="close"></a></label></div>
                        <div><input id="rememberMe" class="rememberMe" type="checkbox" />记住密码</div>
                        <!--/*@thymesVar id="checkInfo" type=""*/-->
                        <div aria-describedby="basic-addon0" id="checkInfo" style="color: red " th:text="${checkInfo}"></div>
						<br />
						<div><input class="btn btn-primary" id="login" type="submit" value="登录"  th:onclick="|javascript:checkInCorrect()|"/></div>

						</form>
						<br />
						<div>
						    <div id="toRegister" style="float:left;width: 50%"> 没有账号?<a href="toRegister">注册</a></div>
						    <div id="forgetPass" style="float:left;width: 50%;margin: 0px"><a style="margin-left: 80px;" href="resetPanel">忘记密码？</a></div>
						</div>
					</div>

				</div>
			</div>
		</div>
		</div>
    </div>

</body>
</html>