<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lin.toymall.service.mapper.PmsCatalog1Mapper">

    <resultMap id="catalog1Map" type="com.lin.toymall.bean.PmsCatalog1">
        <id column="id" property="id"></id>
        <result column="name" property="name"/>
    </resultMap>
    <select id="selectCatalogCount" resultType="int">
        select count(id) from pms_catalog1;
    </select>
    <select id="selectCatalogPage" parameterType="java.util.HashMap" resultMap="catalog1Map">
        select id,name from pms_catalog1
        <if test="start!=null and size!=null">
            limit #{start},#{size};
        </if>
    </select>
    <select id="selectNameById" parameterType="String" resultType="String">
        select name from pms_catalog1 where id=#{catalog1Id};
    </select>
    <select id="selectIdBycCatalog1Name" parameterType="String" resultType="String">
        select id from pms_catalog1 where name=#{catalog1Name};
    </select>
</mapper>