<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>重置密码</title>
    <link href="/common/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />

</head>
<body>
	<form class="form-horizontal" role="form" action="resetPassord" method="post">
    	<div class="form-group">
    		<label for="oldPassword" class="col-sm-2 control-label">原密码</label>
    		<div class="col-sm-10">
    			<input type="text" class="form-control" id="oldPassword" name="oldPassword"
    				 type="password"  placeholder="请输入密码">
    		</div>
    	</div>
    	<div class="form-group">
    		<label for="newPassword" class="col-sm-2 control-label">新密码</label>
    		<div class="col-sm-10">
    			<input type="text" class="form-control" id="newPassword" name="newPassword"
    				type="password"   placeholder="请输入新密码">
    		</div>
    	</div>
    	<div class="form-group">
    		<label for="checkPassword" class="col-sm-2 control-label">新密码</label>
    		<div class="col-sm-10">
    			<input type="text" class="form-control" id="checkPassword" name="checkPassword"
    				 type="password"  placeholder="请确认密码">
    		</div>
    		</div>
    	</div>
    	<div class="form-group">
    		<div class="col-sm-offset-2 col-sm-10">
    			<button type="submit" class="btn btn-default">确认</button>
    		</div>
    	</div>
    	<!--/*@thymesVar id="resetTip" type=""*/-->
    	<div id="resetTip" style="color: red " th:text="${resetTip}"aria-describedby="basic-addon0"></div>

    </form>
<script type="text/javascript">
  function changeImg() {
      var img=document.getElementById("getvCode");
      img.src="/verifyCode?timestamp="+new Date().getTime();
/*
        $("#getvCode").attr("src","/verifyCode?timestamp=" + new Date().getTime());
*/
    }
</script>

</body>
</html>