<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>商品添加</title>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<style>
.addPic{
width:150px ;
height:150px;
border: 2px dashed #dedede;
text-align: center;
margin: 20px;
}
.fa-plus{
margin: 40px;
font-size: 50px;
color: #e1dfdf;
padding: 10px;
}
.edit{
cursor: pointer;
}
select option{
font-weight: normal;
}
</style>

</head>

<body>
    <button type="button" class="btn bg-olive btn-xs addProductBtn" style="margin-left:5px " >添加商品</button>

    <form role="form" method="post" class="form-horizontal" style="padding-left: 8px" action="@{/product/addProduct}">
       <div class="addFormView" hidden >
       <div class="row">
          <label class="control-label" style="margin-left:10px;margin-right: 20px;">一级分类</label>
                <select  style="width: 150px ;font-weight: bold" class="form-control catalog1"  type="text"  >
                    <option  style="font-weight: bold" selected disabled value="0">请选择</option>
                </select>
                <label class="control-label" style="margin-left:10px;margin-right: 20px;">二级分类</label>
                <select  style="width: 150px ;font-weight: bold" class="form-control catalog2"  type="text"  >
                    <option style="font-weight: bold"selected disabled value="0">请选择</option>
                </select>
                <label class="control-label" style="margin-left:10px;margin-right: 20px;">三级分类</label>
                <select style="width: 150px ;font-weight: bold" class="form-control catalog3"  type="text"  >
                    <option style="width: 150px ;font-weight: bold" selected disabled value="0">请选择</option>
                </select>

        <button type="button" id="cancelProductBtn" class="btn btn-primary "style="margin-left: 15px">取消</button>
        </div>
       </div>
       <div class="addProductPage" hidden>

              <div class="form-group">
                  <input type="hidden" name="id"/>
                  <input type="hidden" name="inputUser.id" />
                  <label class="control-label">商品名称</label>
                  <input minlength="6"  class="form-control"  type="text" id="productName" name="productName"/>
              </div>
              <div class="form-group">
                  <label class="control-label">商品价格</label>
                   <input type="text"  class="form-control"  id="price" name="price"/>
              </div>
              <div class="form-group">
                  <label class="control-label">商品库存</label>
                  <input class="form-control" required  type="number"  min="0" id="stock" name="stock" />
              </div>
              <div class="form-group">
                  <label class="control-label">商品简介：</label>
                  <textarea class="form-control" name="note" id="note"></textarea>
              </div>

              <div class="form-group">
              <label class="control-label">商品图片</label>
                <div class="row">
                    <div class="addPic">
                         <label class="control-label">
                              <i class="fa fa-plus"></i>
                              <input style="position:absolute;opacity:0;"type="file" class="file" name="file">
                         </label>
                    </div>
                </div>


              </div>
              <div class="text-center" style="padding-bottom: 20px">
                  <button type="button" id="saveProductBtn" class="btn btn-primary " style="margin-left: 15px">提交</button>
                  <button type="button" id="cancelProduct1Btn" class="btn btn-primary "style="margin-left: 15px">取消</button>
              </div>

        </div>
    </form>
<div class="productList">
    <table class="table table-bordered table-striped" style="margin-top: 10px ">
      <thead>
        <tr>
            <th style="text-align: center;">商品编号</th>
            <th style="text-align: center;">商品名称</th>
            <th style="text-align: center;">商品价格</th>
            <th style="text-align: center;">库存量</th>
            <th style="text-align: center;">商品描述</th>
            <th style="text-align: center;">封面图片</th>
            <th style="text-align: center;">操作</th>
        </tr>
        </thead>
        <tbody>
              <tr  class="products" th:each="product:${productList.lists}" th:id="${product.id}">
                   <td  style="text-align: center;line-height: 150px;" th:text="${product.id}"></td>
                   <td style="text-align: center;line-height: 150px;"><span class="edit" onselectstart="return false" field="productName" th:text="${product.productName}"></span></td>
                   <td style="text-align: center;line-height: 150px;"><span class="edit" onselectstart="return false" field="price" th:text="${product.price}"></span></td>
                   <td style="text-align: center;line-height: 150px;"><span class="edit" onselectstart="return false" field="stock" th:text="${product.stock}"></span></td>
                   <td style="text-align: center;line-height: 150px;"><span class="edit" onselectstart="return false" field="note" th:text="${product.note}"></span></td>
                   <td style="text-align: center;line-height: 150px;"><img style='width: 150px;height: 150px' th:src="${product.defaultImg}"></td>
                   <td style="text-align: center;line-height: 150px;"><button type="button" class="btn bg-olive btn-xs modifyProductImgBtn"   >图片设置</button><button style="margin-left: 30px" type="button" class="btn bg-olive btn-xs delProductBtn"   >删除</button></td>

              </tr>

        </tbody>
    </table>
</div>

</body>
<script th:src="@{/js/product.js}" type="text/javascript"></script>
</html>